.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 800px 100px;
  grid-gap: 10px;
}

.box {
  background-color: #dedede;
  border-radius: 1px;
  padding: 5px;
}

.filters { grid-area: 1/1/5/3; }
.checkButtonCell { grid-area: 1/4/3/4;}
.userInput { grid-area: 1/3/3/4; }
.audioControl {grid-area: 3/3/5/5; }
.loader {grid-area: 5/1/6/2; }
.loadmore { grid-area: 5/2/6/3; }
.result { grid-area: 5/3/6/5;}

